.resumeCard--body {
  display: flex;
  gap: 30px;
}

.resumeCard--body > * {
  flex: 1;
}

.resume--line {
  width: 100%;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
  margin: 24px 0;
  transform-origin: left;
}

.resumeCard--body--left p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  white-space: nowrap;
  opacity: 0.6;
}

.resumeCard--body--center {
  flex-basis: 50%;
}

.resumeCard--body--left,
.resumeCard--body--right {
  flex-basis: 25%;
  min-width: fit-content;
}

.resumeCard--body--right {
  text-align: right;
}

.resumeCard--body--center ul {
  list-style-position: outside;
}

.resumeCard--body--center ul li {
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .resumeCard--body {
    flex-direction: column;
  }

  .resumeCard--body--center ul {
    padding-left: 20px;
  }
}
