.workCard {
  grid-column: span 1;
  margin-top: 50px;
}

.workCard--head {
  display: flex;
  justify-content: space-between;
}

.workCard--head h3 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15.6px */
  text-transform: uppercase;
}

.workCard--line {
  width: 100%;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
  margin: 24px auto;
  transform-origin: center;
}

.workCard--body {
  position: relative;
}

.workCard--body img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 500px;
}

.workCard--body p {
  position: absolute;
  right: 0px;
  bottom: 50px;
  color: #fff;
  font-size: 18px;
  font-family: var(--NML);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  opacity: 0.6;
  mix-blend-mode: hard-light;
  max-width: 36ch;
}

.workCard--body h1 {
  position: absolute;
  top: 80px;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 48px */
  letter-spacing: -1.92px;
  text-transform: uppercase;
  mix-blend-mode: difference;
  max-width: 20ch;
}

.workCard--body img {
  width: 420px;
  height: 420px;
  aspect-ratio: square;
  object-fit: cover;
  filter: grayscale(100%);
  filter: brightness(50%);
}

@media (max-width: 1500px) {
  .workCard--body h1 {
    font-size: 36px;
  }
  .workCard--body p {
    font-size: 15px;
  }
  .workCard--body img {
    height: 420px;
  }
}

@media (max-width: 700px) {
  .workCard--body img {
    width: 80%;
    padding: 20% 0;
    height: auto;
  }

  .workCard--body h1 {
    top: 20px;
    font-size: 32px;
  }

  .workCard--body p {
    bottom: 20px;
    font-size: 14px;
  }
}
